# Loading SQL

In [1]:
import os
# Path to the dataset directory
dataset_path = '/kaggle/input/unlock-profits-with-e-commerce-sales-data'
# List all files in the dataset directory
os.listdir(dataset_path)

['Amazon Sale Report.csv',
 'Cloud Warehouse Compersion Chart.csv',
 'May-2022.csv',
 'P  L March 2021.csv',
 'International sale Report.csv',
 'Expense IIGF.csv',
 'Sale Report.csv']

In [2]:
import pandas as pd

asr = pd.read_csv(f'{dataset_path}/Amazon Sale Report.csv', low_memory=False)
expense = pd.read_csv(f'{dataset_path}/Expense IIGF.csv')
may = pd.read_csv(f'{dataset_path}/May-2022.csv')
sales = pd.read_csv(f'{dataset_path}/Sale Report.csv')
cc = pd.read_csv(f'{dataset_path}/Cloud Warehouse Compersion Chart.csv')
march = pd.read_csv(f'{dataset_path}/P  L March 2021.csv')
international = pd.read_csv(f'{dataset_path}/International sale Report.csv')

In [3]:
!pip install pandasql
import pandasql as psql
from pandasql import sqldf

# Helper function
pysqldf = lambda q: sqldf(q, globals())
def run_query(query):
    return psql.sqldf(query, globals())

Requirement already satisfied: pandasql in /usr/local/lib/python3.11/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.2.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from pandasql) (2.0.41)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy->pandasql) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy->pandasql) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy->pandasql) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy->pandasql) (2025.2.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy->pandasql) (2022.2.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy->pandasql) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->pandasql) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy->pandasql) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy->pandasql) (2022.2.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy->pandasql) (1.4.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy->pandasql) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy->pandasql) (2024.2.0)

In [4]:
asr['Date'] = pd.to_datetime(asr['Date'], errors='coerce', infer_datetime_format=True)
asr['Date'] = asr['Date'].dt.strftime('%Y-%m-%d')  # Converts datetime → string format SQLite can parse

/tmp/ipykernel_13/11311965.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  asr['Date'] = pd.to_datetime(asr['Date'], errors='coerce', infer_datetime_format=True)
/tmp/ipykernel_13/11311965.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  asr['Date'] = pd.to_datetime(asr['Date'], errors='coerce', infer_datetime_format=True)

In [5]:
asr['Date'].head(10).tolist()

['2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30',
 '2022-04-30']

# Verification

In [6]:
print(asr.head())

   index             Order ID        Date                        Status  \
0      0  405-8078784-5731545  2022-04-30                     Cancelled
1      1  171-9198151-1101146  2022-04-30  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  2022-04-30                       Shipped
3      3  403-9615377-8133951  2022-04-30                     Cancelled
4      4  407-1069790-7240320  2022-04-30                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

In [7]:
print(sales.head())

   index       SKU Code Design No.  Stock       Category Size Color
0      0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1      1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2      2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3      3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4      4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red

In [8]:
print(international.head())

   index      DATE  Months            CUSTOMER    Style             SKU Size  \
0      0  06-05-21  Jun-21  REVATHY LOGANATHAN  MEN5004    MEN5004-KR-L    L
1      1  06-05-21  Jun-21  REVATHY LOGANATHAN  MEN5004   MEN5004-KR-XL   XL
2      2  06-05-21  Jun-21  REVATHY LOGANATHAN  MEN5004  MEN5004-KR-XXL  XXL
3      3  06-05-21  Jun-21  REVATHY LOGANATHAN  MEN5009    MEN5009-KR-L    L
4      4  06-05-21  Jun-21  REVATHY LOGANATHAN  MEN5011    MEN5011-KR-L    L

    PCS    RATE GROSS AMT
0  1.00  616.56    617.00
1  1.00  616.56    617.00
2  1.00  616.56    617.00
3  1.00  616.56    617.00
4  1.00  616.56    617.00

In [9]:
print(expense.head())

   index Recived Amount Unnamed: 1  \
0      0     Particular     Amount
1      1       06-19-22       1000
2      2       06-20-22       1500
3      3       06-22-22        500
4      4       06-23-22       2000

                                             Expance Unnamed: 3
0                                         Particular     Amount
1                                          Large Bag        380
2  Stationary(Soft Pin, Paper pin for Dupatta, Fe...        170
3                                                OLA        839
4                                          Auto Rent        520

In [10]:
print(may.head())

   index             Sku    Style Id  Catalog Category Weight   TP MRP Old  \
0      0    Os206_3141_S  Os206_3141  Moments    Kurta    0.3  538    2178
1      1    Os206_3141_M  Os206_3141  Moments    Kurta    0.3  538    2178
2      2    Os206_3141_L  Os206_3141  Moments    Kurta    0.3  538    2178
3      3   Os206_3141_XL  Os206_3141  Moments    Kurta    0.3  538    2178
4      4  Os206_3141_2XL  Os206_3141  Moments    Kurta    0.3  538    2178

  Final MRP Old Ajio MRP Amazon MRP Amazon FBA MRP Flipkart MRP Limeroad MRP  \
0          2295     2295       2295           2295         2295         2295
1          2295     2295       2295           2295         2295         2295
2          2295     2295       2295           2295         2295         2295
3          2295     2295       2295           2295         2295         2295
4          2295     2295       2295           2295         2295         2295

  Myntra MRP Paytm MRP Snapdeal MRP
0       2295      2295         2295
1       2295      2295         2295
2       2295      2295         2295
3       2295      2295         2295
4       2295      2295         2295

In [11]:
print(cc.head())

   index                        Shiprocket        Unnamed: 1  \
0      0                             Heads  Price (Per Unit)
1      1     Inbound (Fresh Stock and RTO)             ₹4.00
2      2                          Outbound             ₹7.00
3      3                   Storage Fee/Cft            ₹25.00
4      4  Customer Return with Detailed QC             ₹6.00

             INCREFF
0   Price (Per Unit)
1                  4
2                 11
3  Rs 0.15/- Per Day
4               15.5

In [12]:
print(march.head())

   index             Sku    Style Id  Catalog Category Weight TP 1    TP 2  \
0      0    Os206_3141_S  Os206_3141  Moments    Kurta    0.3  538  435.78
1      1    Os206_3141_M  Os206_3141  Moments    Kurta    0.3  538  435.78
2      2    Os206_3141_L  Os206_3141  Moments    Kurta    0.3  538  435.78
3      3   Os206_3141_XL  Os206_3141  Moments    Kurta    0.3  538  435.78
4      4  Os206_3141_2XL  Os206_3141  Moments    Kurta    0.3  538  435.78

  MRP Old Final MRP Old Ajio MRP Amazon MRP Amazon FBA MRP Flipkart MRP  \
0    2178          2295     2295       2295           2295         2295
1    2178          2295     2295       2295           2295         2295
2    2178          2295     2295       2295           2295         2295
3    2178          2295     2295       2295           2295         2295
4    2178          2295     2295       2295           2295         2295

  Limeroad MRP Myntra MRP Paytm MRP Snapdeal MRP
0         2295       2295      2295         2295
1         2295       2295      2295         2295
2         2295       2295      2295         2295
3         2295       2295      2295         2295
4         2295       2295      2295         2295

In [13]:
print(asr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB
None

In [14]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9271 entries, 0 to 9270
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       9271 non-null   int64
 1   SKU Code    9188 non-null   object
 2   Design No.  9235 non-null   object
 3   Stock       9235 non-null   float64
 4   Category    9226 non-null   object
 5   Size        9235 non-null   object
 6   Color       9226 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 507.1+ KB
None

In [15]:
print(international.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37432 entries, 0 to 37431
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      37432 non-null  int64
 1   DATE       37431 non-null  object
 2   Months     37407 non-null  object
 3   CUSTOMER   36392 non-null  object
 4   Style      36392 non-null  object
 5   SKU        34958 non-null  object
 6   Size       36392 non-null  object
 7   PCS        36392 non-null  object
 8   RATE       36392 non-null  object
 9   GROSS AMT  36392 non-null  object
dtypes: int64(1), object(9)
memory usage: 2.9+ MB
None

In [16]:
print(expense.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           17 non-null     int64
 1   Recived Amount  6 non-null      object
 2   Unnamed: 1      6 non-null      object
 3   Expance         15 non-null     object
 4   Unnamed: 3      17 non-null     object
dtypes: int64(1), object(4)
memory usage: 812.0+ bytes
None

In [17]:
print(may.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           1330 non-null   int64
 1   Sku             1330 non-null   object
 2   Style Id        1330 non-null   object
 3   Catalog         1330 non-null   object
 4   Category        1330 non-null   object
 5   Weight          1330 non-null   object
 6   TP              1330 non-null   object
 7   MRP Old         1330 non-null   object
 8   Final MRP Old   1330 non-null   object
 9   Ajio MRP        1330 non-null   object
 10  Amazon MRP      1330 non-null   object
 11  Amazon FBA MRP  1330 non-null   object
 12  Flipkart MRP    1330 non-null   object
 13  Limeroad MRP    1330 non-null   object
 14  Myntra MRP      1330 non-null   object
 15  Paytm MRP       1330 non-null   object
 16  Snapdeal MRP    1330 non-null   object
dtypes: int64(1), object(16)
memory usage: 176.8+ KB
None

In [18]:
print(cc.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   index       50 non-null     int64
 1   Shiprocket  21 non-null     object
 2   Unnamed: 1  41 non-null     object
 3   INCREFF     28 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB
None

In [19]:
print(march.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           1330 non-null   int64
 1   Sku             1330 non-null   object
 2   Style Id        1330 non-null   object
 3   Catalog         1330 non-null   object
 4   Category        1330 non-null   object
 5   Weight          1330 non-null   object
 6   TP 1            1330 non-null   object
 7   TP 2            1330 non-null   object
 8   MRP Old         1330 non-null   object
 9   Final MRP Old   1330 non-null   object
 10  Ajio MRP        1330 non-null   object
 11  Amazon MRP      1330 non-null   object
 12  Amazon FBA MRP  1330 non-null   object
 13  Flipkart MRP    1330 non-null   object
 14  Limeroad MRP    1330 non-null   object
 15  Myntra MRP      1330 non-null   object
 16  Paytm MRP       1330 non-null   object
 17  Snapdeal MRP    1330 non-null   object
dtypes: int64(1), object(17)
memory usage: 187.2+ KB
None

# SQL Queries based off of SKU's

## Top 10 Best-Selling SKUs
This query shows the 10 SKUs with the highest total units sold across all sales.

In [20]:
#total product based on SKU codes
query = """
Select SKU, count(Qty) as total_product
From asr
Group by SKU
Order by total_product desc
Limit 10;
"""
pysqldf(query)

              SKU  total_product
0    JNE3797-KR-L            773
1    JNE3797-KR-M            657
2    JNE3797-KR-S            587
3    JNE3405-KR-L            535
4     J0230-SKD-M            507
5   JNE3797-KR-XL            474
6     J0230-SKD-S            452
7    JNE3405-KR-S            443
8   JNE3797-KR-XS            431
9  JNE3797-KR-XXL            395

## Total Gross Revenue by SKU
This query shows total international gross revenue per SKU, highlighting which products generate the most revenue.

In [21]:
#how much a SKU made in revenue
query = """
Select sum(international."GROSS AMT") as total_gross, asr.sku
From asr
Join international on asr.SKU = international.SKU
Group by asr.sku
Order by asr.sku desc
Limit 5;
"""
pysqldf(query)

   total_gross                SKU
0      20240.0  SET413-KR-NP-XXXL
1      14960.0   SET413-KR-NP-XXL
2      23348.0    SET413-KR-NP-XS
3      24050.0    SET413-KR-NP-XL
4      24076.0     SET413-KR-NP-S

## SKU Sales Distribution by State
This query shows how many units of each SKU were purchased in each state, along with the total gross per SKU.

In [22]:
#how many of specific SKU a state bought
query = """
With top_country as(
    Select sku, SUM("Gross AMT") as total_gross, Row_number() over (Partition by sku Order by SUM ("GROSS AMT") DESC) as rn 
    From international
    Group by sku
    )
Select a.sku, a."ship-state" as State, t.total_gross, sum(a.Qty) as total_product
From asr a
Join top_country t on a.SKU = t.SKU
Where t.rn = 1
Group by a."ship-state", a.sku
Order by total_product desc, a."ship-state" asc
Limit 20;
"""
pysqldf(query)

                SKU          State  total_gross  total_product
0      JNE3797-KR-M         KERALA       1034.0             94
1       J0230-SKD-M    MAHARASHTRA      23675.0             88
2    SET268-KR-NP-S    MAHARASHTRA      30758.0             87
3      JNE3405-KR-S    MAHARASHTRA       6137.0             82
4   SET268-KR-NP-XL    MAHARASHTRA      34102.0             76
5     JNE3797-KR-XL    MAHARASHTRA       1860.0             74
6    SET268-KR-NP-L    MAHARASHTRA      54772.0             73
7   SET268-KR-NP-XL      KARNATAKA      34102.0             72
8      JNE3797-KR-M      KARNATAKA       1034.0             70
9       J0230-SKD-S    MAHARASHTRA      13935.0             70
10     JNE3405-KR-L    MAHARASHTRA      12207.0             68
11    JNE3797-KR-XL      KARNATAKA       1860.0             67
12      J0230-SKD-M      KARNATAKA      23675.0             63
13     JNE3405-KR-M    MAHARASHTRA      13647.0             63
14     JNE3797-KR-M    MAHARASHTRA       1034.0             63
15      J0230-SKD-M  UTTAR PRADESH      23675.0             63
16   SET345-KR-NP-M      KARNATAKA       9547.0             62
17   JNE3797-KR-XXL    MAHARASHTRA       1858.0             60
18    JNE3797-KR-XL         KERALA       1860.0             59
19   SET268-KR-NP-L      KARNATAKA      54772.0             56

## State-Level Sales and Revenue
This query shows total units sold and total spending per state, giving insight into the largest markets.

In [23]:
#Total spent/total product per state
query = """
SELECT a."ship-state", SUM(a.Qty) AS total_product, SUM(a.amount) AS total_spent
FROM asr a
GROUP BY a."ship-state"
ORDER BY total_product DESC
LIMIT 20;
"""
pysqldf(query)

        ship-state  total_product  total_spent
0      MAHARASHTRA          20328  13335534.14
1        KARNATAKA          15901  10481114.37
2       TAMIL NADU          10412   6515650.11
3        TELANGANA          10253   6916615.65
4    UTTAR PRADESH           9499   6816642.08
5            DELHI           6156   4235215.97
6           KERALA           5813   3830227.58
7      WEST BENGAL           5318   3507880.44
8   ANDHRA PRADESH           4819   3219831.72
9          Gujarat           4149   2728651.82
10         HARYANA           4066   2882092.99
11       RAJASTHAN           2367   1716802.40
12  MADHYA PRADESH           2260   1592382.98
13          ODISHA           1890   1372205.63
14           BIHAR           1847   1394388.32
15          PUNJAB           1699   1180064.84
16           ASSAM           1483   1018136.20
17     UTTARAKHAND           1385    974143.55
18       JHARKHAND           1284    919088.21
19             GOA           1022    619437.85

# Orders That Did Not Deliver/Cancelled
This query shows the total number of cancelled orders per state, highlighting areas where fulfillment issues occurred.

In [24]:
#cancelled orders
query = """
Select a."ship-state" as state, Count(Distinct a."Order ID") as cancelled_orders
From asr a
Where a.status = 'Cancelled'
Group by a."ship-state"
Order by cancelled_orders desc
Limit 10;
"""
pysqldf(query)

            state  cancelled_orders
0     MAHARASHTRA              2778
1       KARNATAKA              2097
2   UTTAR PRADESH              1531
3       TELANGANA              1505
4      TAMIL NADU              1440
5          KERALA              1086
6     WEST BENGAL               846
7           DELHI               828
8  ANDHRA PRADESH               815
9         Gujarat               556

## Expense vs Revenue/ Profit Analysis
This query calculates net profit by SKU by subtracting expenses from revenue, showing which products generate the most profit.

In [25]:
#expense/profit
query = """
Select a.sku, a.Fulfilment as fulfillment_method,
     sum(a.amount) as total_revenue,
     sum(Qty) as total_quanitity
From asr a
Group by a.sku, Fulfilment
Order by total_revenue desc
Limit 10;
"""
pysqldf(query)

               SKU fulfillment_method  total_revenue  total_quanitity
0      J0230-SKD-M             Amazon      460368.00              420
1      J0230-SKD-S             Amazon      397336.00              358
2     JNE3797-KR-L           Merchant      374158.77              456
3     JNE3797-KR-M           Merchant      352068.16              424
4  SET268-KR-NP-XL             Amazon      278618.00              368
5   SET268-KR-NP-S             Amazon      263128.00              346
6      J0230-SKD-L             Amazon      261853.00              237
7     JNE3797-KR-S           Merchant      261057.57              307
8   SET268-KR-NP-L             Amazon      253290.00              340
9   SET183-KR-DH-M           Merchant      250171.98              289

### Total Revenue: Domestic vs International

*Expenses are not included due to missing/incomplete data*

This query summarizes total revenue and order counts by domestic (IN) and international regions, highlighting the distribution of sales.

In [26]:
#domestic/international
query = """
Select
    Sum(a.amount) as domestic_revenue,
    Sum(i."Gross AMT") as international_revenue,
    Sum(a.amount) + Sum(i."Gross AMT") as total_revenue
From asr a
Left Join international i on a.SKU = i.sku
"""
pysqldf(query)

   domestic_revenue  international_revenue  total_revenue
0      4.952577e+08            387490045.0   8.827477e+08

In [27]:
#totals
query = """
SELECT SUM(CASE WHEN "ship-country" = 'IN' THEN Amount ELSE 0 END) AS domestic_revenue,
       SUM(CASE WHEN "ship-country" != 'IN' THEN Amount ELSE 0 END) AS international_revenue,
       SUM(Amount) AS total_revenue,
       COUNT(CASE WHEN "ship-country" = 'IN' THEN 1 END) AS domestic_orders,
       COUNT(CASE WHEN "ship-country" != 'IN' THEN 1 END) AS international_orders,
       count(*) as total_orders
FROM asr
Where "ship-country" is not null;
"""
pysqldf(query)

,domestic_revenue,international_revenue,total_revenue,domestic_orders,international_orders,total_orders
0,78574007.3,0,78574007.3,128942,0,128942

# Inventory / Stock Checks
Monitors current inventory levels to ensure products are in stock, helping identify items that need restocking or have surplus stock.

## Revenue Over Time
Tracks total revenue across periods to identify trends, growth, and seasonal patterns.

In [28]:
#Revenue over time
query = """
Select
    strftime('%Y-%m', Date) as month,
    Sum(amount) as total_revenue,
    Sum(Qty) as total_quantity
From asr
Group By month
Order By month asc
Limit 10;
"""
pysqldf(query)

     month  total_revenue  total_quantity
0  2022-03      101683.85             156
1  2022-04    28838708.32           44206
2  2022-05    26226476.75           38011
3  2022-06    23425809.38           34276

## SKU Trends Over Time
Shows how individual products are performing over time, highlighting bestsellers and slow-moving items.

In [29]:
#Trends Table
query = """
With top_squs as (
    Select SKU, SUM(Amount) as total_revenue
    From asr
    Group by SKU
    Order by total_revenue desc
    Limit 5
)
Select
    strftime('%Y-%m', Date) as Month, a.SKU, Sum(a.amount) as revenue
From asr a
Join top_squs t on a.SKU = t.SKU
Group By a.SKU
Order By a.SKU;
"""
pysqldf(query)

     Month           SKU    revenue
0  2022-04   J0230-SKD-M  527699.20
1  2022-04   J0230-SKD-S  479937.14
2  2022-04  JNE3797-KR-L  524581.77
3  2022-04  JNE3797-KR-M  454290.16
4  2022-04  JNE3797-KR-S  407302.57

# Historical Data

## Comparing SKU Quantity Sold vs Stock
Shows how much of each product has been sold compared to current stock.

In [30]:
#Quanity vs Stock
query = """
SELECT a.SKU, SUM(a.Qty) AS total_sold, s.Stock
FROM asr a
LEFT JOIN sales s ON a.SKU = s."SKU Code"
GROUP BY a.SKU, s.Stock
ORDER BY total_sold DESC
LIMIT 10;
"""
pysqldf(query)

               SKU  total_sold  Stock
0     JNE3797-KR-L         661    5.0
1     JNE3797-KR-M         561    6.0
2     JNE3797-KR-S         503    2.0
3     JNE3405-KR-L         485  446.0
4      J0230-SKD-M         468  152.0
5      J0230-SKD-S         421   84.0
6    JNE3797-KR-XL         415   13.0
7     JNE3405-KR-S         399  423.0
8    JNE3797-KR-XS         386  101.0
9  SET268-KR-NP-XL         373  176.0

## Stock Coverage Percentage
Displays what percentage of stock remains for each product.

In [31]:
#quick fix to make the SKU's cooperate
asr['SKU_clean'] = asr['SKU'].str.strip().str.upper()
sales['SKU_clean'] = sales['SKU Code'].str.strip().str.upper()

In [32]:
#Stock Coverage
query = """
SELECT a.SKU, SUM(a.Qty) AS total_sold, s.Stock,
       ROUND((s.Stock - SUM(a.Qty)) * 100.0 / s.Stock, 2) AS stock_remaining_percent
FROM asr a
LEFT JOIN sales s ON a.'SKU_clean' = s.'SKU_clean'
Where s.Stock is not null
GROUP BY a.SKU, s.Stock
ORDER BY s.Stock desc
LIMIT 10;
"""
pysqldf(query)

                        SKU  total_sold   Stock  stock_remaining_percent
0            JNE3405-KR-XXL         186  1234.0                    84.93
1             JNE3405-KR-XS         220  1230.0                    82.11
2   JNE1525-KR-UDF19BLACK-M          27  1082.0                    97.50
3           JNE3368-KR-XXXL         180   985.0                    81.73
4            SET273-KR-NP-M          79   880.0                    91.02
5   JNE1525-KR-UDF19BLACK-L           9   874.0                    98.97
6            SET273-KR-NP-S         122   871.0                    85.99
7           SET273-KR-NP-XS          48   862.0                    94.43
8  JNE1525-KR-UDF19BLACK-XL          10   844.0                    98.82
9            SET268-KR-NP-S         350   807.0                    56.63